@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color: #dde1d4;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 650px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 200px 250px 200px;
  grid-template-rows: 100px 450px 350px;
  grid-gap: 15px;

  width: 100%;
  height: 900px;
  color: #dde1d4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 4;
}
.header__text {
  margin: 12px 12px;
}
.header__text h2 {
  margin-bottom: 5px;
}

.box {
  background-color: rgb(255, 55, 20);
}

.box h3 {
  color: black;
  font-size: 195px;
  font-weight: 600;
}

.bx1 {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: end;
}
.bx1 h3 {
  display: block;
}

.bx2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.bx3 {
  display: flex;
  flex-direction: column;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.bx3 h3 {
  display: block;
  margin-bottom: 60px;
}
.bx3 h4 {
  display: block;
  font-size: 30px;
  margin-left: 12px;
}
